<h2>Member Details</h2> 

<div class="image-holder image-holder-member-details mb-4">
    <img src="{{imageUrl}}" alt=""> 
</div> 

<span>{{occupation.title}}</span> 
<h4>{{getMemberName firstName lastName}}</h4> 
<p>{{getMemberAge dateOfBirth}} years</p> 
<p>{{bio}}</p> 
