<h2>Movie Details</h2> 

<div class="image-holder image-holder-movie-details mb-4">
    <img src="{{imageUrl}}" alt=""> 
</div> 

<div class="stats"> 
    <span>{{getYear year}}</span> | <span>{{joinGenres genres}}</span>  | <span>{{duration}} min</span> 
</div>
<h4>{{title}}</h4> 
<p>{{description}}</p> 
