<h2>All Movies</h2> 

<div class="row"> 
    {{#each moviesData}}
    <div class="col-md-3"> 
        <div class="movie"> 
            <div class="image-holder image-holder-index"> 
                <img src="{{imageUrl}}" alt=""> 
            </div> 
 
            <h4 class="heading-index">{{title}}</h4> 
            <span>{{joinGenres genres}}</span> 
            <p>{{description}}</p>
            <a href="/movies/{{_id}}/details">Details</a> 
        </div>
    </div> 
    {{/each}}
</div>